## Import Libraries

In [13]:
try:
    import pandas as pd
    from sqlalchemy import create_engine
    print("Successfully loaded libraries")
    
except ModuleNotFoundException as me:
    print("Module not found: {}".format(me))

Successfully loaded libraries

In [14]:
# !pip install fastparquet

In [15]:
# !pip install pyarrow

# !pip install fastparquet

## Read Data

In [16]:
try:
    data=pd.read_parquet('../data/yellow_tripdata_2022-01.parquet', engine='pyarrow')
    
    
except FileNotFoundError as fe:
    print("File not found: {}".format(fe))
    exit(1)

In [17]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [18]:
data.shape

(2463931, 19)

## Insert Into Database

In [19]:
#generate sql alchemy engine connection
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
engine.connect()

In [21]:
#converting to ddl
pd.io.sql.get_schema(data,name='yellow_taxi_data',con=engine)

'\nCREATE TABLE yellow_taxi_data (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\ttpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tpassenger_count FLOAT(53), \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" FLOAT(53), \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type BIGINT, \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53), \n\tairport_fee FLOAT(53)\n)\n\n'

In [22]:
data[:1000]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,2022-01-01 00:15:15,2022-01-01 00:19:08,2.0,0.98,1.0,N,79,170,1,5.0,0.5,0.5,1.76,0.0,0.3,10.56,2.5,0.0
996,2,2022-01-01 00:32:25,2022-01-01 00:44:22,3.0,2.13,1.0,N,79,233,2,10.0,0.5,0.5,0.00,0.0,0.3,13.80,2.5,0.0
997,2,2022-01-01 00:53:58,2022-01-01 00:57:04,2.0,0.35,1.0,N,107,107,2,4.0,0.5,0.5,0.00,0.0,0.3,7.80,2.5,0.0
998,2,2022-01-01 00:21:20,2022-01-01 00:32:00,1.0,1.85,1.0,N,164,249,1,9.0,0.5,0.5,1.00,0.0,0.3,13.80,2.5,0.0
999,2,2022-01-01 00:34:54,2022-01-01 00:43:45,1.0,1.80,1.0,N,158,224,1,8.0,0.5,0.5,1.18,0.0,0.3,12.98,2.5,0.0

In [23]:
#insert data into our postgresql database

%time data[:900000].to_sql(name='yellow_taxi_data',con=engine, if_exists='replace',index=False)

CPU times: total: 1min 30s
Wall time: 4min 4s

1000

In [24]:
#create query to fetch dataframe the database
query='''

SELECT * FROM yellow_taxi_data
LIMIT 20;
''' 

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.00,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.00,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.00,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.00,0.3,30.30,2.5,0.0
5,1,2022-01-01 00:40:15,2022-01-01 01:09:48,1.0,10.30,1.0,N,138,161,1,33.0,3.0,0.5,13.00,6.55,0.3,56.35,2.5,0.0
6,2,2022-01-01 00:20:50,2022-01-01 00:34:58,1.0,5.07,1.0,N,233,87,1,17.0,0.5,0.5,5.20,0.00,0.3,26.00,2.5,0.0
7,2,2022-01-01 00:13:04,2022-01-01 00:22:45,1.0,2.02,1.0,N,238,152,2,9.0,0.5,0.5,0.00,0.00,0.3,12.80,2.5,0.0
8,2,2022-01-01 00:30:02,2022-01-01 00:44:49,1.0,2.71,1.0,N,166,236,1,12.0,0.5,0.5,2.25,0.00,0.3,18.05,2.5,0.0
9,2,2022-01-01 00:48:52,2022-01-01 00:53:28,1.0,0.78,1.0,N,236,141,2,5.0,0.5,0.5,0.00,0.00,0.3,8.80,2.5,0.0
10,2,2022-01-01 00:55:03,2022-01-01 01:04:25,1.0,1.91,1.0,N,141,229,2,8.5,0.5,0.5,0.00,0.00,0.3,12.30,2.5,0.0
11,2,2022-01-01 00:31:06,2022-01-01 00:34:14,3.0,0.82,1.0,N,114,90,2,4.5,0.5,0.5,0.00,0.00,0.3,8.30,2.5,0.0
12,2,2022-01-01 00:41:07,2022-01-01 00:44:46,3.0,0.73,1.0,N,234,113,2,4.5,0.5,0.5,0.00,0.00,0.3,8.30,2.5,0.0
13,2,2022-01-01 00:56:34,2022-01-01 01:12:04,2.0,2.16,1.0,N,246,79,1,11.5,0.5,0.5,3.06,0.00,0.3,18.36,2.5,0.0
14,2,2022-01-01 00:39:46,2022-01-01 00:47:36,4.0,1.43,1.0,N,43,140,1,7.5,0.5,0.5,2.26,0.00,0.3,13.56,2.5,0.0
15,2,2022-01-01 00:58:06,2022-01-01 01:05:45,1.0,1.58,1.0,N,239,151,2,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5,0.0
16,1,2022-01-01 00:33:52,2022-01-01 00:47:28,3.0,4.20,1.0,N,148,141,1,14.0,2.5,0.5,3.45,0.00,0.3,20.75,2.5,0.0
17,1,2022-01-01 00:53:54,2022-01-01 01:05:20,2.0,2.20,1.0,N,237,107,1,9.5,2.5,0.5,2.55,0.00,0.3,15.35,2.5,0.0
18,1,2022-01-01 00:00:44,2022-01-01 00:05:29,1.0,0.20,1.0,N,7,7,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30,0.0,0.0
19,1,2022-01-01 00:35:50,2022-01-01 00:48:33,2.0,3.90,1.0,N,107,263,1,13.0,3.0,0.5,3.35,0.00,0.3,20.15,2.5,0.0